@font-face {
    font-family: Furtra;
    src: url(Fonts/Futura.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and borders in element's total width/height */
}

html, body {
    height: 100%; /* Make sure the body takes the full height of the viewport */
}

body {
    background-color: #bd1c1c;
    color: white;
    font-family: Furtra;
    text-align: center;

    /* Flexbox to center content */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Ensure the body takes up the full height of the viewport */
    height: 100%;
}

.bigText {
    font-size: 100px;
    margin-bottom: 10px; /* Adjust bottom margin */
}

.lilText {
    font-size: 24px; /* Ensure text size is reasonable */
}
